{% extends "layout.html" %}
{% block title %}The Dashboard{% endblock %}
{% block content %}
<div id="wrapper">
          <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">Dashboard</h1>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <div class="row">
                  <div class="col-lg-4 col-sm-6">
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-video-camera fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                    <div class="huge" id="entryamount"></div>
                                      <div>Movies in our database!</div>
                                  </div>
                              </div>
                          </div>
                          <a href="/movies">
                              <div class="panel-footer">
                                  <span class="pull-left">View Details</span>
                                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <div class="panel panel-yellow">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-list fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                    <div class="huge" id="entryGenres"></div>
                                      <div>Total Genres</div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-left">View Details</span>
                                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <div class="panel panel-red">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div class="huge">13M</div>
                                      <div>Total Gross USD from all movies!</div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-left">View Details</span>
                                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- /.row -->
              <div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-red">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-pie-chart fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                <div class="huge">Pie Charts</div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="panel-footer">
                        <div id="chart"></div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
                  </div>
                    <div class="col-md-6">
                    <div class="panel panel-green">
                      <div class="panel-heading panel-info">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-bar-chart fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                <div class="huge">Bar Chart</div>
                              </div>
                          </div>
                      </div>
                      <div class="panel-footer">
                        <div id="root">
                        </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
                  </div>
{% endblock %}